@import "base.less";
/* 搜索框区域 */

#searchBar {
    padding: .1rem;
    form {
        display: flex;
        .btn-search {
            background-color: @main-color;
            width: .6rem;
            border-radius: 0 .03rem .03rem 0;
        }
        .input-search {
            flex: 1;
            width: 90%;
            margin-bottom: 0;
            background-color: #fff;
            border: 1px solid @main-color;
            text-align: left;
            font-size: .14rem;
            border-radius: .03rem 0 0 .03rem;
        }
    }
}

#history {
    .mui-card-header {
        font-size: .14rem;
        a {
            color: #666;
        }
    }
    .mui-table-view {
        li {
            padding: .11rem .15rem;
            line-height: .21rem;
        }
    }
}